@font-face {
  font-family: "Poppins";
  font-style: bolder;
  font-weight: 900;
  src: "https://fonts.googleapis.com/css?family=Poppins";
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/poppins-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/poppins-v15-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/poppins-v15-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/poppins-v15-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("assets/fonts/poppins-v15-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/poppins-v15-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/montserrat-v15-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("assets/fonts/montserrat-v15-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/montserrat-v15-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("assets/fonts/montserrat-v15-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("assets/fonts/montserrat-v15-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("assets/fonts/montserrat-v15-latin-600.svg#Poppins") format("svg"); /* Legacy iOS */
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
